.tiles {
  /*  width: 30%;*/
  margin: 2% 2% 2% 2%;
}

.tiles-parent {
  margin: 4% 0 2% 0%;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 7px 0 0 8px;
}

.parent {
  width: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

#username {
  color: white;
  text-transform: uppercase;
  padding: 0 28px 2px 0px;
  font-size: 18px;
}

.table-header {
  color: #3700B3;
  font-size: 14px;
}

mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: white !important;
}

#table-header-title {
  font-weight: bold;
  color: #3700B3;
  font-size: 17px;
}

#add-btn {
  color: #3700B3;
  margin: 0 0 0 19px;
}

#delete-btn {
  color: #c51162;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  display: block !important;
}

.shift-right{
  margin: 0 0 0 50%;
}
