.tiles {
  /*  width: 30%;*/
  margin: 2% 2% 2% 2%;
}

.tiles-parent {
  margin: 4% 0 0% 5%;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 7px 0 0 8px;
}

.parent {
  width: 30%;
}

.expansion-btn-header {

}

#lesson-title {
  margin: 9px 30px 0 0;
}

#get-widget-btn {
  outline: none;
}

#divider {
  border-top-color: #808080;
  margin: 10px 0 10px 0;
}

.widget-div {
  margin: 10px 10px;
}

