<h1 *ngIf="enrolledSectionData.length!=0">Enrolled Section</h1>
<div class="container-fluid" *ngIf="enrolledSectionData.length!=0">
  <div *ngFor="let section of enrolledSectionData" class="parent">
    <div class="tiles-parent">
      <mat-accordion>
        <mat-expansion-panel class="tiles">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{section.sectionName}}<span class="dot"></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <p class="descSpace"><span class="redDot dot"></span>Max Seats - {{section.maxSeats}}</p><br>
            <p class="descSpace"><span class="blueDot dot"></span>Available Seats - {{section.availableSeats}}</p>
          </mat-panel-description>
          <div class="expansion-btn-header">
            <button mat-raised-button class="float-right" color="primary"
                    (click)="unenrollStudent(section._id)">Unenroll</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<h1 *ngIf="sectionList.length!=0">Available Section</h1>
<div class="container-fluid" *ngIf="sectionList.length!=0">
  <div *ngFor="let section of sectionList" class="parent">
    <div class="tiles-parent">
      <mat-accordion>
        <mat-expansion-panel class="tiles">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{section.sectionName}}<span class="dot"></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <p class="descSpace"><span class="redDot dot"></span>Max Seats - {{section.maxSeats}}</p><br>
            <p class="descSpace"><span class="blueDot dot"></span>Available Seats - {{section.availableSeats}}</p>
          </mat-panel-description>
          <div class="expansion-btn-header">
            <button *ngIf="enrolledSectionData.length==0" mat-raised-button color="primary"
                    (click)="enrollStudent(section._id)">Enroll
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
