<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Website Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Admin</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </span>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let course of courseList" class="parent">
      <div class="tiles-parent">
        <mat-accordion>
          <mat-expansion-panel class="tiles">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{course.title}}- {{course.id}}<span class="dot"></span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="expansion-btn-header">
              <button routerLink='/course/{{course.id}}' mat-raised-button color="primary">View</button>
              <button routerLink='/course/enroll/{{course.id}}' mat-raised-button class="float-right" color="primary">Enroll</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
